@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf);
}

body {
    background-color: black;
}

.text {
    font-size: 2rem;
    font-family: Helvetica;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    height: 95vh;
}